<!-- Simple header, has some navigation elements and displays currently logged in username. -->

<body>
	<ul>
		<li><a class="active" href="<%= process.env.BASEURL %>/home">Kennzahlen-System</a></li>
		<li><a href="<%= process.env.BASEURL %>/logout">Logout (<%- user -%>)</a></li>
		<li><a href="<%= process.env.BASEURL %>/changePassword">Passwort wechseln</a></li>
		<li style="float:right"><a href="<%= process.env.BASEURL %>/about">About</a></li>
		<li style="float:right"><a href="<%= process.env.BASEURL %>/admin">Admin</a></li>
		<li style="float:right"><a href="<%= process.env.BASEURL %>/help">Hilfe</a></li>
	</ul>
</body>