<!-- Form for submitting measure-data to the system. Has selection menu for month and measure, dynamically loaded in. -->

<head>
    <% include ../partials/head %>
</head>

<body class="container">
    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <span style="display:block; height: 10px;"></span>
        <div class="misc-text">
            Bitte geben Sie alle Werte der ausgewählten Kennzahl ein und wählen Sie den Zeitraum. Eintragen schickt die
            Daten ab. Nicht vorhandene Werte können später nachgetragen werden. Falls Zeiten bereits einen Eintrag
            besitzen, ist diese Zeit grün hinterlegt im Auswahlmenü. Diese Werte werden bei erneutem Eintragen
            überschrieben.
        </div>
        <span style="display:block; height: 10px;"></span>
        <div class="misc-text">
            <%- text %>
        </div>
        <span style="display:block; height: 10px;"></span>

        <div class="login-formA">
            <form action="submit" method="POST">
                <!-- Selection menu for measure and year/month. -->
                <div style=" text-align:center;margin-bottom: 15px;margin-right: 10px">
                    <select id="measure" style="width:90%" name="measure" class="dropdownS" required></select>
                    <select id="duration" style="width:40%" name="date" class="dropdownS" required></select>
                </div>
                <!-- Text fields with attributes get added here. -->
                <div id="container"></div>
                <span style="display:block; height: 10px;"></span>
                <input type="submit" value="Eintragen">
            </form>
        </div>

    </main>

    <!-- Load values for comfort functions, need them to automatically reselect last items. -->
    <script>
        const measureData = '<%- measureListData %>';
        const lastMeasure = '<%- measure %>';
        const lastYear = '<%- lastYear %>';
        const lastMonth = '<%- lastMonth %>';
        const entryList = '<%- entries %>';
    </script>

    <script src="/scripts/submitHelper.js"></script>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>